body
{
	background: #f8f8f8;
	margin: 0px;
}

.header
{
	text-shadow: #B6D1BB 0px 1px 1pt;
	font-family: arial;
	color: #3E4F41;
	font-size: 24px;
	font-weight:bold;
}

.task
{
	text-shadow: #B6D1BB 0px 1px 1pt;
	font-family: arial;
	color: #3E4F41;
	font-size: 28px;
	font-weight:bold;
	height: 52px;
	text-align:right;
	line-height:1em;
	padding-top: 0px;
	padding-bottom: 16px;
}

.task:hover
{
	background: #eee;
}

.button
{
	padding-left:4px;
	width: 32px;
	height: 22px;
	background: #ddd;
	position:absolute;
	border-radius: 11px;
	border-right: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	font: bold 18px Webdings;
	text-align:center;
	visibility: hidden;
}

.bPlayPause{	left:12px; }
.bFastForward{	left:52px; }
.bStop{			left:92px; }

.timeDesc
{
	font-weight:normal;
	font-size:16px;
	color:#aaa;
	padding-right: 16px;
	left: 0%;
	position:absolute;
}

.progressbar
{
	background: #F2D8DE;
	height: 8px;
	width:100%;
	left:0px;
	line-height:4em;
	margin-bottom:1px;

	cursor:pointer;
	position:relative;
	border-bottom: solid 1px #fff;
	
	border-radius: 4px;
	
}

.progressTick
{
	position:absolute;
	width:1px;
	height: 8px;
	background: #ffe;
	border-top: dashed 1px #ffe;
	border-left: solid 1px #321;
}

.p25 { left: 25%; }
.p50 { left: 50%; }
.p75 { left: 75%; }


.progress
{
	left: 0%;
	position:absolute;
	width:0%;
	height: 8px;
	background: #2CE852;
	padding-left:24px;
	border-radius: 4px;
	border-top: solid 1px #dfe;
	border-right: solid 1px #486;
}

.overlay
{
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	width:100%;
	height:64px;
	background:#3F73EB;
}